</div>

<footer class="text-muted">
  <div class="container">
    <p class="float-right mypara">
      <a href="#">Back to top</a>
    </p>
    <p class="mypara">Made with &#128420; by Mavericks</p>
  </div>
</footer>

</body>

</html>
