</div>

<footer class="text-muted">
  <div class="container">
    <p class="float-right mypara">
      <a href="#">Back to top</a>
    </p>
    <p class="mypara">Made with &#128420; by Mavericks</p>
  </div>
</footer>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>

</body>

</html>
